.header {
  font-size: 2.5rem;
  margin: 50px;
  margin-top: 0;
  padding: 20px;
  padding-top: 50px;
}

.pwd-field {
  background-color: #a3cb38;
  padding: 0 10px;
  font-size: 30px;
  width: 50%;
  height: 60px;
  border: none;
  border-bottom: 4px solid #009432;
  border-radius: 0;
  margin-bottom: 20px;
}

.pwd-field::placeholder {
  color: #c4e538;
}

.slider-box {
  display: flex;
  align-items: center;
  text-align: center;
  width: fit-content;
  margin: auto;
}

.length-label {
  margin: 20px 10px;
  padding: 4px 10px;
  color: #006266;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 2px;
  display: inline-block;
  width: 40px;
  margin-right: 50px;
}

.conditions {
  display: flex;
  width: 50%;
  margin: 50px auto;
  justify-content: space-between;
  font-size: 30px;
}

.checkbox {
  width: 24px;
  height: 24px;
  border: none;
  background: none;
}

.generate-button {
  font-size: 30px;
  background-color: #ff3838;
  color: #ffcccc;
  width: 180px;
  height: 60px;
  border: 2px transparent;
  border-radius: 4px;
}

.generate-button:hover {
  border: 2px solid black;
}
